html {
  background: url(../landing-img.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 800px;
}

#wrapper {
    min-width: 800px;
    min-height: 600px;
}

#sliding-box {
  min-width: 500px;
}


#title p {
    margin-top: 4%;
    margin-left: 50%;
    font-size: 60px;
    color: #FFF;
    position: fixed;
    font-family: 'Oswald', sans-serif;
    line-height: 60px;
    display: inline-block;
}


#intro {
  width: 550px;
  height: 340px;
  padding: 25px;
  font-size: 15px;
  border-radius: 30px;
  background-color: #fff;
  margin-left: 50%;
  display: inline-block;
  margin-top: 270px;
  font-family: 'Open Sans';
  opacity: 0.7;
}

.myButton {
  margin-left: 1%;
  margin-top: 3%;
  line-height: 30px;
  -moz-box-shadow:inset 0px 1px 0px 0px #a3a3a3;
  -webkit-box-shadow:inset 0px 1px 0px 0px #a3a3a3;
  box-shadow:inset 0px 1px 0px 0px #a3a3a3;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #757575), color-stop(1, #333333));
  background:-moz-linear-gradient(top, #757575 5%, #333333 100%);
  background:-webkit-linear-gradient(top, #757575 5%, #333333 100%);
  background:-o-linear-gradient(top, #757575 5%, #333333 100%);
  background:-ms-linear-gradient(top, #757575 5%, #333333 100%);
  background:linear-gradient(to bottom, #757575 5%, #333333 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#333333',GradientType=0);
  background-color:#757575;
  border: 0.5px solid #8c8c8c;
  display:inline-block;
  cursor: pointer;
  color:#ffffff;
  font-family: 'Open Sans';
  font-size:20px;
  font-weight:bold;
  padding:12px 12px;
  text-decoration:none;
}

.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #333333), color-stop(1, #757575));
  background:-moz-linear-gradient(top, #333333 5%, #757575 100%);
  background:-webkit-linear-gradient(top, #333333 5%, #757575 100%);
  background:-o-linear-gradient(top, #333333 5%, #757575 100%);
  background:-ms-linear-gradient(top, #333333 5%, #757575 100%);
  background:linear-gradient(to bottom, #333333 5%, #757575 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#757575',GradientType=0);
  background-color:#333333;
}

.myButton:active {
  position:relative;
  top:1px;
}
